<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DiscountCalculatorsConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <DiscountCalculatorsConfiguration>
    <add key="NotRegistered" value="BAD_PRACTICE_DEMO.AccountDiscountCalculatorFactory.NotRegisteredDiscountCalculator, BAD_PRACTICE_DEMO" />
    <add key="SimpleCustomer" value="BAD_PRACTICE_DEMO.AccountDiscountCalculatorFactory.SimpleCustomerDiscountCalculator, BAD_PRACTICE_DEMO" />
    <add key="ValuableCustomer" value="BAD_PRACTICE_DEMO.AccountDiscountCalculatorFactory.ValuableCustomerDiscountCalculator, BAD_PRACTICE_DEMO" />
    <add key="MostValuableCustomer" value="BAD_PRACTICE_DEMO.AccountDiscountCalculatorFactory.MostValuableCustomerDiscountCalculator, BAD_PRACTICE_DEMO" />
  </DiscountCalculatorsConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>